@model List<Product>
<div class="container">
    <div class="row">
        <div class="col-6">
            Product
        </div>
        <div class="col-6">
            Create
        </div>
        <div class="table">
            <table class="table table-dark">
                <thead class="">
                    <tr class="align-text-top">
                        <th>Id</th>
                        <th>Title</th>
                        <th class="">Description</th>
                        <th>ISBN</th>
                        <th>Author</th>
                        <th>List Price</th>
                        <th class="">Price for 1-50"</th>
                        <th class="">Price for 50-100</th>
                        <th>Price for 100+</th>
                    </tr>
                </thead>
                <tbody>
                   @foreach (var product in Model.OrderBy(p=> p.Id))
                    {
                        <tr>
                            <td>
                                @product.Id
                            </td>
                            <td>
                                @product.Title
                            </td>
                            <td>
                                @product.Description
                            </td>
                            <td>
                                @product.ISBN
                            </td>
                            <td>
                                @product.Author
                            </td>
                            <td>
                                @product.ListPrice
                            </td>
                            <td>
                                @product.Price
                            </td>
                            <td>
                                @product.Price50
                            </td>
                            <td>
                                @product.Price100
                            </td>
                        </tr>
                    }
                </tbody>



            </table>
        </div>
    </div>
</div>