@model ShoppingCartVM

<form method="post">

    <div class="card border-1 shadow">
        <div class="card-header bg-gradient ms-0 py-4">
            <div class="row">
                <div class="col">
                    <h5 class="pt-2">Shopping Cart</h5>
                </div>
            </div>
        </div>
        <div class="card-body py-0">
            <input asp-for="OrderHead.OrderTotal" hidden></input>
            @for (int z = 0; z < Model.ListCarts.Count(); z++)
            {
                <input asp-for="@Model.ListCarts[z].Id" hidden></input>
                <input asp-for="@Model.ListCarts[z].selected" hidden type="checkbox" id="selected-@Model.ListCarts[z].Id"></input>
                <div class="row py-2 clickable" id="div-@Model.ListCarts[z].Id" style="border:3px solid grey">
                    <div class=" py-2  col-12 col-lg-4  ps-1">
                        <img class="  border border-1 border-secondary rounded" src="@Model.ListCarts[z].Product.ImageUrl" style="width:100%"></img>
                    </div>
                    <div class="col-12 col-lg-8 ">
                        <div class="row">
                            <div class="col-12 ps-1">
                                <H3 class="text-primary text-uppercase"> @Model.ListCarts[z].Product.Title </H3>
                                <p>
                                    <small>
                                        @if (Model.ListCarts[z].Product.Description.Length > 475)
                                        {
                                            <span><p class="m-0 p-0 d-inline">@Html.Raw(Model.ListCarts[z].Product.Description.Substring(3,475))</span>
                                            <span class="" id="extra-des-@Model.ListCarts[z].ProductId" style="display:none;">
                                                @Html.Raw(Model.ListCarts[z].Product.Description.Substring(475))
                                                <button style="margin-top: -1rem" class="btn btn-link m-0 p-0" type="button" id="readmorebutton-@Model.ListCarts[z].ProductId" onclick="toggleDescription(@Model.ListCarts[z].ProductId)">Show More</button>

                                            </span>

                                            // <a href="#" id="readmorelink-@cart.ProductId" onclick="return toggleDescription(@cart.ProductId)" >ShowMore</a>
                                            //<span>@Html.Raw(cart.Product.Description.Substring(0, 475))</span>
                                            // <span style="" id="more-@cart.Product.Id" style="display: none;">@Html.Raw(cart.Product.Description.Substring(475))</span>
                                            //<a href="#" id="readmorelink-@cart.ProductId" onclick="return toggleDescription(@cart.Product.Id)">Show More</a>

                                        }
                                        else
                                        {
                                            @Html.Raw(Model.ListCarts[z].Product.Description)
                                        }
                                    </small>
                                </p>
                            </div>
                            <div class="col-12">
                                <div class="row align-items-center">
                                    <div class="col-2 ms-2 p-0 ">
                                        <div class="input-group">
                                            <button asp-area="customer" asp-controller="ShoppingCart" asp-route-cartid="@Model.ListCarts[z].Id" asp-action="Less" class="btn btn-secondary">-</button>
                                            <input asp-for="@Model.ListCarts[z].count" disabled type="number" class="form-control text-center"></input>
                                            <span id="Count-@Model.ListCarts[z].Id" hidden> @Model.ListCarts[z].count </span>
                                            <button asp-action="More" asp-route-cartid="@Model.ListCarts[z].Id" class="btn btn-secondary">+</button>

                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="row">
                                            <div class="col-12">
                                                <span id="BasePrice-@Model.ListCarts[z].Id" class="text-decoration-line-through">@Model.ListCarts[z].Product.ListPrice.ToString("c")</span>
                                                <span id="OrderPrice-@Model.ListCarts[z].Id">@Model.ListCarts[z].price.ToString("c")</span>
                                            </div>
                                            <div class="col-12">
                                                <span >Total:&nbsp;@Model.ListCarts[z].currentprice.ToString("c")</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 ms-2 p-0">
                                        <button type="button" class="btn btn-lg btn-primary form-control">Buy</button>
                                    </div>
                                    <div class="col-3 ms-2 p-0">
                                        <button asp-area="Customer" asp-controller="ShoppingCart" asp-action="DeleteOne" asp-route-cartid="@Model.ListCarts[z].Id" class="btn btn-lg btn-danger form-control">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

            }
            <div class="sticky-bottom  ">
                <div class="row">
                    <div class="col-12 bg-secondary py-2    ">


                        <div class="row bg-secondary border-1 ">
                            <div class="col-4 form-check d-flex align-items-center check">
                                <input type="checkbox" class="form-check-input ms-5 me-3 p-2" id="SelectAll"></input>
                                <label for="SelectAll" class="form-check-label h5 m-0 pt-1">Select All</label>
                            </div>
                            <div class="col-3 ">
                                <h5 id="TotalBasePrice" >Price: @Model.TotalBase.ToString("c")</h5>

                                <h5 id="TotalOrderPrice">Price: @Model.OrderHead.OrderTotal.ToString("c")</h5>

                            </div>
                            <div class="col-3 ">
                                <button type="submit" class=" btn btn-primary mt-2 form-control py-2 "><h4 class="m-0 p-0">Buy</h4></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

</form>

@section Scripts{
   <script src="~/js/cart.js"></script>
}