@model ShoppingCartVM
<form method="post">

    <div class="card">
        <div class="card-header bg-gradient p-3 h2 text-info">Order Summary</div>

        <div class="card-header border-2 my-2 pt-0">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 mt-2 ">
                            <div class="col-12 ">
                            <h5 ><i class="bi bi-geo-alt-fill"></i> Shipping Details: </h5>
                            <div class="d-flex">
                                <span class="h5 fw-bold">@Model.OrderHead.Name</span>
                                <span class="h5">&nbsp;@Model.OrderHead.PhoneNumber</span>
                                <span class="ms-auto">@Model.OrderHead.StressAddress , @Model.OrderHead.State , @Model.OrderHead.City</span>
                                <a class="ps-2 h4" href="#">Change</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="card-body">
            <div class="row">

                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <h5>Order Summary:</h5>
                        </div>
                        <div>
                            <ul class="list-group ">

                                @for (var cart = Model.ListCarts.Count() - 1; cart >= 0; cart--)
                                {
                                    <li class="list-group-item">
                                        <div class="d-flex">
                                            <input hidden asp-for="@Model.ListCarts[cart].Id"></input>
                                            <h6 class="d-inline"> @Model.ListCarts[cart].Product.Title</h6>
                                            <small>&nbsp; x @Model.ListCarts[cart].count</small>
                                            <h6 class="d-inline ms-auto ">@Model.ListCarts[cart].currentprice.ToString("c")</h6>

                                        </div>

                                    </li>
                                }

                                <li class="list-group-item  bg-secondary text-">
                                    <div class="d-flex">
                                        <h6 class="m-0">Total(USD):</h6>
                                        <strong class="ms-auto mb-0">@Model.OrderHead.OrderTotal.ToString("c")</strong>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-group">
                            </ul>
                        </div>

                    </div>
                </div>

      
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12 col-md-9 align-items-center d-flex">
                    <p class="m-0 text-info" style="font-size: 14px" >
                        Estimate arrival time:
                        @DateTime.Now.AddDays(7).ToString("dd/MM/yyyy") - @DateTime.Now.AddDays(14).ToString("dd/MM/yyyy")
                    </p>
                </div>
                <div class="col-12 col-md-3">
                    <button class="btn btn-primary form-control" type="submit">Place Order</button>
                </div>
            </div>
        </div>
</form>