@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="card shadow border-0 my-5">
    <div class="card-header text-center">
        <h2>@ViewData["Title"]</h2>
        <hr />
    </div>
    <div class="card-body ">
        <div class="row ">
            <div class="col-12">
                <form class="row" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h3 class="pb-1 mb-2  text-center">
                        Create a new account
                    </h3>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3 col-md-12 py-0">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label class="ms-2 " asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.Password" class="form-control showpass" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label class="ms-2 " asp-for="Input.Password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.ConfirmPassword" class="form-control showpass" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label class="ms-2 " asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>


                    <div class="mb-2">
                        <input id="checkboxpassword" type="checkbox"></input>
                        <label for="checkboxpassword">Show Password</label>
                    </div>
                    <div class="mb-2">
                        <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                            <option class="text-danger" disabled selected>--Select Role--</option>
                        </select>
                        
                    </div>
                    <div class="col-12">
                        <button id="registerSubmit" type="submit" class="w-100 px-5 btn btn-lg btn-primary">Register</button>

                    </div>
                </form>
            </div>
            <div class="col-12">
                <section>
                    <p class="divider-text d-flex">or</p>
                    <h3 class="text-center">Use another service to register.</h3>
            
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>
        </div>




    </div>
   



</div>
















@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        const passcheckbox = document.getElementById('checkboxpassword');
        const passwordinput = document.getElementsByClassName('showpass');
        passcheckbox.addEventListener('change', function () {
            for (const input of passwordinput) {
                if (passcheckbox.checked) {
                    input.type = 'text';
                } else {
                    input.type = 'password';
                }
            }
        });
    </script>
}
