@model OrderVM

@if (Model.orderHead.PaymentDate.Year < 2000)
{
    
}
<div class="container">
    <div class="card">
        <div class="card-header bg-gradient p-3 ">
            <div class="row">
                <div class="col-12">
                    <h3 class="mb-1 text-info">Order Details</h3>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12 ">
                            <i class="bi bi-calendar"></i> <span> &nbsp;@Model.orderHead.OrderDate.ToString("ddd, MMM dd, yyyy, h:mmtt")</span>
                        </div>
                        <div class="col-12">
                            <small class="" style="opacity: 0.70;"> Order ID: @Model.orderHead.Id </small>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row d-flex">
                        <div class="col-3 ms-auto">
                            <button class="btn btn-success form-control text-center py-2">Approve</button>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-primary form-control text-center py-2">Process</button>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-primary form-control text-center py-2">Ship</button>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-danger form-control text-center py-2">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <h5 class ="text-info"><i class="bi bi-person-circle"></i> Customer</h5>
                    <span class="d-block"><span class="fw-bold">Name:</span><span class="opacity-75"> @Model.orderHead.Name</span></span>
                    <span class ="d-block"><span class="fw-bold">E-mail:</span><span class="opacity-75"> @Model.orderHead.AppUser.Email </span></span>
                    <span class ="d-block"><span class="fw-bold">Phone Number:</span><span class="opacity-75"> @Model.orderHead.PhoneNumber</span></span>
                    <a href="#" class="btn btn-sm btn-link bg-secondary link-info">View User Profile</a>

                </div>
                <div class="col-4">
                    <h5 class="text-info"><i class="bi bi-credit-card-fill"></i> Payment Info</h5>
                    <span class="d-block"><span class="fw-bold">Payment Status:</span><span class="opacity-75"> @Model.orderHead.PaymentStatus</span></span>
                    <span class="d-block">
                        <span class="fw-bold">Payment Date:</span><span class="opacity-75">
                            @{
                                if (Model.orderHead.PaymentDate.Year > 2000)
                                {
                                    @Model.orderHead.PaymentDate
                                }
                                else
                                {
                                    <text>Not yet paid</text>
                                }
                            }
                        </span>
                    </span>
                    <span class="d-block"><span class="fw-bold">Payment DueDate:</span><span class="opacity-75"> 
                    @{
                                                    
                                    if (@Model.orderHead.PaymentDueDate.Year > 2000)
                                {
                                    @Model.orderHead.PaymentDueDate
                                }
                                else
                                {
                                    <text>Only for Company user</text>
                                }
                            
                            }
                        </span>
                    </span>
                    <span class="d-block"><span class="fw-bold">Total:</span><span class="opacity-75"> @Model.orderHead.OrderTotal.ToString("c") </span></span>
                </div>
                <div class="col-4">
                    <h5 class="text-info"><i class="bi bi-truck"></i> Shipment Info</h5>
                    <span class="d-block"><span class="fw-bold">Carrier:</span><span class="opacity-75"> @Model.orderHead.Carrier not yet implemented</span></span>
                    <span class="d-block"><span class="fw-bold">City:</span><span class="opacity-75"> @Model.orderHead.AppUser.City @Model.orderHead.State  </span></span>
                    <span class="d-block"><span class="fw-bold">Address:</span><span class="opacity-75"> @Model.orderHead.StreetAddress </span></span>
                    <span class="d-block"><span class="fw-bold">Postal Code:</span><span class="opacity-75"> @Model.orderHead.PostalCode</span></span>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="row mt-3">
                <div class="col-3 align-self-center ps-3 pe-0">
                    <p>Pending</p>
                    <div class="divider py-2 bg-success"></div>
                </div>
                <div class="col-3 align-self-center ps-1 pe-0">
                    <p>Approved</p>
                    <div class="divider py-2 bg-secondary"></div>
                </div>
                <div class="col-3 align-self-center ps-1 pe-0">
                    <p>Processing</p>
                    <div class="divider py-2 bg-secondary"></div>
                </div>
                <div class="col-3 align-self-center ps-1 pe-2">
                    <p>Shipped</p>
                    <div class="divider py-2 bg-danger"></div>
                </div>
            </div>
            <div>

            </div>


        </div>
    </div>
</div>  